#stats{
    width: 70%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    border: 4px solid rgba(255,0,170,.459);
    border-radius: 20px;
    transition: all .4s ease 0s;
    box-shadow: 1px 1px 0 1px hsl(0deg 0% 100% / 78%);
    align-items: center;
    padding: 30px;
    overflow: hidden;
    color: rgb(236, 211, 216);
    flex-wrap: wrap;
}
.calendar{
    width: 70%;
    margin-top: 25px;
    text-align: center;
    color: white;
    justify-content: center;
    margin-top: 25px;
    border: 4px solid rgba(255,0,170,.459);
    border-radius: 20px;
    transition: all .4s ease 0s;
    box-shadow: 1px 1px 0 1px hsl(0deg 0% 100% / 78%);
    align-items: center;
    padding: 30px;
    scroll-behavior:smooth;
    overflow: hidden;
    color: rgb(236, 211, 216);
    flex-wrap: nowrap;
}
@media screen and (min-width:281px) and (max-width:780px){
    #stats>p>img{
        width: 100%;
    }
    .calendar>div>div>div>svg{
        flex-wrap: nowrap;
    }
}