#project>div {
    border: 4px solid rgba(255,0,170,.459);
    border-radius: 20px;
    transition: all .4s ease 0s;
    box-shadow: 1px 1px 0 1px hsl(0deg 0% 100% / 78%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    color: rgb(236, 211, 216);
    font-size: 25px;
    
}
#project{
    width: 90%;
    margin: auto;
    display: grid;
    margin-top: 5em;
    grid-template-columns: repeat(2,1fr);
    gap: 3em;
    cursor: pointer;
    margin-bottom: 7%;
}
#project>div>p{
    font-size: 18px;
    margin-top: 25px;
    text-align: center;

}
#project>div>p>span{
    font-size: 20px;
    font-weight: bolder;

}
.btns{
    margin-top: 20px;
}
.btns>a>button{
    color: rgb(48, 36, 36);
    background-color:rgb(238, 168, 182); 
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
}

.img_card{
    width: 100%;
}
.logo{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}
#downbtn{
    text-align: center;
    margin-top: 20%;
}
#downbtn>a>button{
    color: Black;
    background-color: rgb(238, 168, 182);
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
}
@media screen and (min-width:281px) and (max-width:1000px){
    #project{
        grid-template-columns: repeat(1,1fr);
    }
}